<div class="container">
  <form [formGroup]="form">
    <label class="mt-3" for="selecAtleta">Nome atleta</label>
    <select class="form-control" id="selecAtleta">
      <option *ngFor="let atleta of this.atletas">{{this.atleta?.entrant?.firstName}}</option>
    </select>
    <label class="mt-1" for="selecAtleta">Nota final wod1</label>
    <select class="form-control" formControlName="notaWod1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
    <label for="formGroupExampleInput">Descrição wod1</label>
    <input type="text" class="form-control" formControlName="descricao1" placeholder="descrição">
    <label class="mt-2" for="selecAtleta">Nota final wod2</label>
    <select class="form-control" formControlName="notaWod2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
    <label for="formGroupExampleInput">Descrição wod2</label>
    <input type="text" class="form-control" formControlName="descricao2" placeholder="descrição">
    <label class="mt-2" for="selecAtleta">Nota final wod3</label>
    <select class="form-control" formControlName="notaWod3">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
    <label for="formGroupExampleInput">Descrição wod3</label>
    <input type="text" class="form-control" formControlName="descricao3" placeholder="descrição">
    <label class="mt-2" for="selecAtleta">Nota final wod4</label>
    <select class="form-control" formControlName="notaWod4">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
    <label  for="formGroupExampleInput">Descrição wod4</label>
    <input type="text" class="form-control" formControlName="descricao4" placeholder="descrição">
    <label class="mt-2" for="selecAtleta">Nota final wod5</label>
    <select class="form-control" formControlName="notaWod5">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
    <label for="formGroupExampleInput">Descrição wod5</label>
    <input type="text" class="form-control" formControlName="descricao5" placeholder="descrição">
  </form>
</div>
