<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hey Santaner!</strong> Você pode ver a descrição da sua nota, clicando no seu nome ou no botão ao lado do mesmo.
</div>
<!-- <div class="m-0"> -->
<div class="row p-0 m-0">
  <div class="d-flex col justify-content-around mt-1 mb-1 mr-0 pr-0">
    <button type="button" class="btn btn-dark btn-lg" (click)="btnFeminino()">Feminino</button>
    <button type="button" class="btn btn-dark btn-lg" (click)="btnMasculino()">Masculino</button>
  </div>
</div>

<div class="row">
<div class="col p-0 m-0 w-100">
  <p class="text-center">Categoria RX</p>
</div>
</div>
<div class="geral" *ngIf="isMasculino === true">
  <table id="myTable" class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <!-- <th scope="col">Notas</th> -->
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3.1</th>
        <th scope="col">3.2</th>
        <th scope="col">3.3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">T</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let atleta of this.rxMasculino">
        <td scope="row" (click)="modal(atleta)">{{this.atleta?.entrant?.competitorName}}</td>
        <!-- <td> <button class="btn btn-outline-warning btn-sm" (click)="modal(atleta)">Notas</button></td> -->
        <td>{{this.getNotaWod1(atleta)}}</td>
        <td>{{this.getNotaWod2(atleta)}}</td>
        <td>{{this.getNotaWod3(atleta)}}</td>
        <td>{{this.getNotaWod4(atleta)}}</td>
        <td>{{this.getNotaWod5(atleta)}}</td>
        <td>{{this.getNotaWod6(atleta)}}</td>
        <td>{{this.getNotaWod7(atleta)}}</td>
        <td>{{this.atleta?.overallScore}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col">
      <p class="text-center"> Categoria Scale</p>
    </div>
    </div>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <!-- <th scope="col">Notas</th> -->
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3.1</th>
        <th scope="col">3.2</th>
        <th scope="col">3.3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">T</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let atleta of this.scaleMasculino">
        <td scope="row" (click)="modal(atleta)">{{this.atleta?.entrant?.competitorName}}</td>
        <!-- <td> <button class="btn btn-outline-warning btn-sm" (click)="modal(atleta)">Notas</button></td> -->
        <td>{{this.getNotaWod1(atleta)}}</td>
        <td>{{this.getNotaWod2(atleta)}}</td>
        <td>{{this.getNotaWod3(atleta)}}</td>
        <td>{{this.getNotaWod4(atleta)}}</td>
        <td>{{this.getNotaWod5(atleta)}}</td>
        <td>{{this.getNotaWod6(atleta)}}</td>
        <td>{{this.getNotaWod7(atleta)}}</td>
        <td>{{this.atleta?.overallScore}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col">
      <p class="text-center"> Categoria Iniciante</p>
    </div>
    </div>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <!-- <th scope="col">Notas</th> -->
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3.1</th>
        <th scope="col">3.2</th>
        <th scope="col">3.3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">T</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let atleta of this.inicianteMasculino">
        <td scope="row" (click)="modal(atleta)">{{this.atleta?.entrant?.competitorName}}</td>
        <!-- <td> <button class="btn btn-outline-warning btn-sm" (click)="modal(atleta)">Notas</button></td> -->
        <td>{{this.getNotaWod1(atleta)}}</td>
        <td>{{this.getNotaWod2(atleta)}}</td>
        <td>{{this.getNotaWod3(atleta)}}</td>
        <td>{{this.getNotaWod4(atleta)}}</td>
        <td>{{this.getNotaWod5(atleta)}}</td>
        <td>{{this.getNotaWod6(atleta)}}</td>
        <td>{{this.getNotaWod7(atleta)}}</td>
        <td>{{this.atleta?.overallScore}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col">
      <p class="text-center"> Categoria Basic</p>
    </div>
    </div>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <!-- <th scope="col">Notas</th> -->
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3.1</th>
          <th scope="col">3.2</th>
          <th scope="col">3.3</th>
          <th scope="col">4</th>
          <th scope="col">5</th>
          <th scope="col">T</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let atleta of this.basicMasculino">
          <td scope="row" (click)="modal(atleta)">{{this.atleta?.entrant?.competitorName}}</td>
          <!-- <td> <button class="btn btn-outline-warning btn-sm" (click)="modal(atleta)">Notas</button></td> -->
          <td>{{this.getNotaWod1(atleta)}}</td>
          <td>{{this.getNotaWod2(atleta)}}</td>
          <td>{{this.getNotaWod3(atleta)}}</td>
          <td>{{this.getNotaWod4(atleta)}}</td>
          <td>{{this.getNotaWod5(atleta)}}</td>
          <td>{{this.getNotaWod6(atleta)}}</td>
          <td>{{this.getNotaWod7(atleta)}}</td>
          <td>{{this.atleta?.overallScore}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<!-- </div> -->
<div class="geral" *ngIf="isFeminino === true">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <!-- <th scope="col">Notas</th> -->
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3.1</th>
        <th scope="col">3.2</th>
        <th scope="col">3.3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">T</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let atleta of this.rxFeminino">
        <td scope="row" (click)="modal(atleta)">{{this.atleta?.entrant?.competitorName}}</td>
        <!-- <td> <button class="btn btn-outline-warning btn-sm" (click)="modal(atleta)">Notas</button></td> -->
        <td>{{this.getNotaWod1(atleta)}}</td>
        <td>{{this.getNotaWod2(atleta)}}</td>
        <td>{{this.getNotaWod3(atleta)}}</td>
        <td>{{this.getNotaWod4(atleta)}}</td>
        <td>{{this.getNotaWod5(atleta)}}</td>
        <td>{{this.getNotaWod6(atleta)}}</td>
        <td>{{this.getNotaWod7(atleta)}}</td>
        <td>{{this.atleta?.overallScore}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col">
      <p class="text-center"> Categoria Scale</p>
    </div>
    </div>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <!-- <th scope="col">Notas</th> -->
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3.1</th>
        <th scope="col">3.2</th>
        <th scope="col">3.3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">T</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let atleta of this.scaleFeminino">
        <td scope="row" (click)="modal(atleta)">{{this.atleta?.entrant?.competitorName}}</td>
        <!-- <td> <button class="btn btn-outline-warning btn-sm" (click)="modal(atleta)">Notas</button></td> -->
        <td>{{this.getNotaWod1(atleta)}}</td>
        <td>{{this.getNotaWod2(atleta)}}</td>
        <td>{{this.getNotaWod3(atleta)}}</td>
        <td>{{this.getNotaWod4(atleta)}}</td>
        <td>{{this.getNotaWod5(atleta)}}</td>
        <td>{{this.getNotaWod6(atleta)}}</td>
        <td>{{this.getNotaWod7(atleta)}}</td>
        <td>{{this.atleta?.overallScore}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col">
      <p class="text-center"> Categoria Iniciante</p>
    </div>
    </div>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <!-- <th scope="col">Notas</th> -->
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3.1</th>
        <th scope="col">3.2</th>
        <th scope="col">3.3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">T</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let atleta of this.inicianteFeminino">
        <td scope="row" (click)="modal(atleta)">{{this.atleta?.entrant?.competitorName}}</td>
        <!-- <td> <button class="btn btn-outline-warning btn-sm" (click)="modal(atleta)">Notas</button></td> -->
        <td>{{this.getNotaWod1(atleta)}}</td>
        <td>{{this.getNotaWod2(atleta)}}</td>
        <td>{{this.getNotaWod3(atleta)}}</td>
        <td>{{this.getNotaWod4(atleta)}}</td>
        <td>{{this.getNotaWod5(atleta)}}</td>
        <td>{{this.getNotaWod6(atleta)}}</td>
        <td>{{this.getNotaWod7(atleta)}}</td>
        <td>{{this.atleta?.overallScore}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col">
      <p class="text-center"> Categoria Basic</p>
    </div>
    </div>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <!-- <th scope="col">Notas</th> -->
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3.1</th>
          <th scope="col">3.2</th>
          <th scope="col">3.3</th>
          <th scope="col">4</th>
          <th scope="col">5</th>
          <th scope="col">T</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let atleta of this.basicFeminino">
          <td scope="row" (click)="modal(atleta)">{{this.atleta?.entrant?.competitorName}}</td>
          <!-- <td> <button class="btn btn-outline-warning btn-sm" (click)="modal(atleta)">Notas</button></td> -->
          <td>{{this.getNotaWod1(atleta)}}</td>
          <td>{{this.getNotaWod2(atleta)}}</td>
          <td>{{this.getNotaWod3(atleta)}}</td>
          <td>{{this.getNotaWod4(atleta)}}</td>
          <td>{{this.getNotaWod5(atleta)}}</td>
          <td>{{this.getNotaWod6(atleta)}}</td>
          <td>{{this.getNotaWod7(atleta)}}</td>
          <td>{{this.atleta?.overallScore}}</td>
        </tr>
      </tbody>
    </table>
</div>

