body{
  background-color: var(--bs-gray-600);
}

p{
  color: rgb(255, 255, 0);
  font-size: 20px;
  font-weight: 700;
}
div.col, div.row, div.geral{
  background-color: black;
}
.btn-outline-warning{
  margin-left: 10px !important;
  font-size: 10px !important;
}

div.alert{
  padding: 10px !important;
}
div{
  width: 100vw;
}
